body{
    margin: 0;
    padding: 0;
}

div.page{
    height: 100vh;
    display: grid;
    background-color: lightblue;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1fr;
    grid-template-areas: 'input-data info info'
                            'calculate-button bought sold'
                            'yield unrealized unrealized';

}

div.input-data{
    background-color: blueviolet;
    grid-area: input-data;
}
div.info{
    background-color: lightgreen;
    grid-area: info;
}
div.calculate-button-div{
    background-color: blue;
    grid-area: calculate-button;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.calculate-button{
    width: 300px;
    height: 100px;
    
}


div.bought{
    overflow: scroll;
    background-color: chartreuse;
    grid-area: bought;
}
div.sold{
    overflow: scroll;
    background-color: coral;
    grid-area: sold;
}
div.yield{
    background-color: lightblue;
    grid-area: yield;

}
div.unrealized{
    background-color: burlywood;
    grid-area: unrealized;
}

#tax-input-div{
    margin: 5px;
}
#in-data{
    margin: 5px;
}
